.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .modalContent h2 {
    font-size: 1.8rem;
    font-weight: 150;
    padding: 2rem 0;
  }

.buttonGroup {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    justify-content: center;
}

.fullWidthButton{
    width: 17.4rem;
    background-color: #FFFFFF;
    border: 1px solid #D0D5DD;
    color: #344054;
}

.fullWidthButton:hover{
    background-color: #6A0DAD;
    color:#FFFFFF;
}
  

.ConfirmButton {
    background-color: #6A0DAD;
    color:#FFFFFF;
    width: 17.4rem;
}
.ConfirmButton:hover {
    background-color: #FFFFFF;
    color:#6A0DAD;
    width: 17.4rem;
}