.profile_upper_section {
    display: flex;
    gap: 2.8rem;
    padding-top: 4.8rem;
}

.profile_upper_section img {
    height: 10rem;
    border-radius: 50rem;
}

.profile_details h2 {
    font-size: 1.8rem;
    font-weight: 120;
    line-height: 2.4rem;
}

.profile_details p {
    font-size: 1.6rem;
    font-weight: 120;
    color: #6A0DAD;
    line-height: 2.4rem;
}

.profile_email {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 2.4rem;
}
.profile_email img{
    height: 1.8rem;
}

.changeDpBtn {
    padding-top: 2rem;
}


.changeDpBtn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
  
  
  .changeDpLabel {
    cursor: pointer;
    width: 30rem;
    background-color: #6A0DAD;  
    color: white;
    padding: 8px 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: 120;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .hidden {
    display: hidden;
  }
  
  .changeDpLabel:hover {
    background-color: #7a00b3; 
  }
  
  


.form_header{
    font-size: 2.1rem;
    font-weight: 160;
    padding-top: 7.4rem;
}

.profile_form_section {
    padding-top: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5.6rem;
}

.addAdmin_input {
    width: 36.0rem;
}

.superAdmin_input {
    width: 77.6rem;
}


.editProfileButton {
    width: 77.6rem;
    background-color: #FFFFFF;
    border: 1px solid #667085;
    color: #6A0DAD;
    margin-top: 8rem;
    /* margin-bottom: 8rem; */
}

.editProfileButton:hover {
    color: #FFFFFF;
}